@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";


:root {
  background-color: #faffff;
  --bg-color: #faffff;
  --background-color: #F8F8F8;
  --text-primary: #0F0F0F;
  --text-secondary: #404040;
  --button-bg-Red: #E50000;
  --button-bg-black: #A6A6A6;
  --button-border-1: #5b5b5b;
  --button-border-2: #262626;
  --card-bg-black: #C7C7C7;
  --card-bg-black-1: #8f8f8f;
  --toggle-bg-color: #4C4C4C;
  --language-card-bg: #d8d8d8;
}

[data-theme="dark"] {
  background-color: #141414;
  --bg-color: #141414;
  --background-color: #141414;
  --text-primary: #FFFFFF;
  --text-secondary: #999999;
  --button-bg-Red: #E50000;
  --button-bg-black: #1F1F1F;
  --button-border-1: #1F1F1F;
  --button-border-2: #262626;
  --card-bg-black: #1A1A1A;
  --card-bg-black-1: #0F0F0F;
  --toggle-bg-color: #00ff7f;
  --language-card-bg: #1A1A1A;
}

@theme {
  --font-manrope: Manrope, "sans-serif"
}